@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

:root { /* IMPORTANTÍSSIMO */
    /* 1rem = 16px */
    font-size: 62.5%; /* 10px */
}

/* REM = Root EM */

body {
    background: #ECE9FD;

    padding: 6rem 2.3rem 6.6rem;
    font-size: 1.6rem;
}

h1 {
    font-size: 4rem;
    line-height: 4.8rem;
    color: #090039;
    margin-bottom: 3.1rem;
}

main {
    max-width: 33rem;
    margin: 0 auto;
}

main p:first-child {
    color: #7158EF;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 1.7rem;
    line-height: 1.5rem;
}

main div h1 + p {
    font-size: 1.6rem;
    line-height: 3.2rem;
    color: #0A0039;
    margin-bottom: 2.8rem;
}

main a {
    font-size: 1.6rem;
    line-height: 3.2rem;
    color: #090039;
    text-decoration: none;
}

main a:hover {
    color: #432fb4;
}

ul {
    margin-top: 6.5rem;    
}

ul li {
    font-size: 2.4rem;
    line-height: 3.2rem;
    color: #090039;
    font-weight: bolder;

    max-width: 25.7rem;

    display: flex;
    align-items: center;
    gap: 3.8rem;
}

span {
    font-size: 7.2rem;
    line-height: 8rem;
    letter-spacing: -2px;
    font-weight: bolder;
}

ul li + li {
    margin-top: 3.2rem;
}

/* media queries */
/* @media screen and {
    
} */

@media (min-width: 700px) {
    
    body {
        padding: 8rem;
    }


    main {
        display: flex;
        justify-content: space-between;
        max-width: 1020px;
        gap: 10rem;
    }

    main > div { /* Para fixar ponto de transformação em largura máxima */
        max-width: 484px;
    }

    ul li {
        gap: 5.3rem;
        max-width: 50rem;
        align-items: center;
    }
}