@charset "UTF-8";

:root {
    --fonte-h1: 'Inter', sans-serif;
    --fonte-p: 'Open Sans', sans-serif;
}

body {
    font-family: var(--fonte-p);
    text-align: center;
    margin: 0;
}

#hero {
    width: 592px;
    height: 579px;
    margin: 0 auto 72px;
}

#hero img {
    margin-bottom: 72px;
}

#balls {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

h1 {
    font-family: var(--fonte-h1);
    font-size: 49px;
    line-height: 56px;
    font-weight: normal;

    margin-bottom: 32px;
}

h1 span {
    font-weight: bold;
}


span {
    color: #FF9900;
}

p {
    color: #7D7987;
    font-size: 14px;
    line-height: 28px;
}

a {
    color: #FF9900;
}

a, a:hover, a:active, a:visited, a:link {
    text-decoration: none;
}

.line {
    width: 568px;
    height: 0px;
    border: 1px solid #ECEFF2;
    margin: 0 auto 8px;
}

#footer a + a {
    margin-left: 28px;
}