@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E5E5E5;
}

body::before {
    content: '';
    width: 100%;
    height: 368px;
    background: #121214;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

footer::after {
    content: '';
    height: 368px;
    width: 100%;
    background: linear-gradient(180deg, #E5E5E5, rgb(26, 79, 179));
    position: absolute;
    left: 0;
    

    z-index: -1;
}

.page {
    width: 736px;
    margin: 0 auto;
}

header {
    width: 519px;
    margin-top: 74px;
}

header h1 {
    font-size: 36px;
    line-height: 42px;
    color: white;
    margin-bottom: 24px;
}

header p {
    font-size: 16px;
    line-height: 26px;

    color: #42D3FF;
}

form {
    background-color: #FAFAFC;

    margin-top: 38px;
    min-height: 300px;
    border-radius: 8px 8px 0 0;
    padding: 64px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

fieldset {
    border: none;
}

.fieldset-wrapper { /* IMPORTANTE DEMAIS - BUG */
    display: flex;
    flex-direction: column;
    gap: 24px;
}

fieldset legend {
    font-size: 24px;
    line-height: 34px;

    border-bottom: 1px solid #0707d8;
    width: 100%;

    padding: 16px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper label {
    font-size: 14px;
    line-height: 24px;

    color: #4E4958;
}

.input-wrapper label span {
    margin-left: 12px;

    font-size: 12px;
    line-height: 20px;
    color: #C1BCCC;
}

.input-wrapper input, .input-wrapper textarea, .input-wrapper select {
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    box-sizing: border-box;

    padding: 0 24px;

    font-size: 16px;
    line-height: 26px;
    color: #6e6e74;
    height: 56px;
}

.input-wrapper select option {
    padding: 15px;
}

.input-wrapper input:focus, .input-wrapper textarea:focus {
    background-color: #eaf2f7;
    outline: none;
}

.input-wrapper select:focus {
    background-color: #f2f7fa;
    outline: none;
}

.input-wrapper textarea {
    padding: 24px;
    height: 168px;
}

.input-wrapper select { /*Utilizar o caniuse */
    appearance: none;
    -webkit-appearance: none;

    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 24px top 50%;
}

.checkbox-wrapper { /* IMPORTANTE */
    position: relative;
}

.checkbox-wrapper input {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    opacity: 0;
}

.checkbox-wrapper label {
    font-size: 14px;
    line-height: 24px;

    color: #4E4958;
    margin-bottom: 8px;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 16px;
}

.col {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    gap: 16px;
}

.checkbox-wrapper label::before { /* IMPORTANTÍSSIMO */
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 8px;
    border: 1px solid #E6E6F0;
    display: block;
}

.checkbox-wrapper input:checked + label::before { /* IMPORTANTÍSSIMO */
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.17L1.83 7L0.410004 8.41L6 14L18 2L16.59 0.589996L6 11.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
}

.checkbox-wrapper input:focus + label::before{ /* IMPORTANTÍSSIMO */
    outline: 1px solid #18bfe97a;

}

.col > div:nth-child(1) {
    width: 100%;
}

footer {
    background-color: #F0F0F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 136px;
    padding: 40px 64px;
    border-top: 1px solid #D6D6D6;
    margin-bottom: 100px;
    border-radius: 0 0 8px 8px;
}

footer input {
    padding: 15px 40px;
    background-color: #04D361;
    border-radius: 8px;
    color: white;
    border: 0;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
}

footer input:hover {
    background-color: #10944b;
}

/* input:invalid {
    border: 1px solid red;
} */



#teste input {
    background-image: url("data:image/svg+xml,%3Csvg version='1.0' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 64 64' enable-background='new 0 0 64 64' xml:space='preserve' fill='%23000000'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cpath fill='%23231F20' d='M60,0H4C1.789,0,0,1.789,0,4v56c0,2.211,1.789,4,4,4h56c2.211,0,4-1.789,4-4V4C64,1.789,62.211,0,60,0z M58,42H45c-0.553,0-1,0.447-1,1v5H20v-5c0-0.553-0.447-1-1-1H6V6h52V42z'%3E%3C/path%3E%3Cpath fill='%23231F20' d='M15,16h34c0.553,0,1-0.447,1-1s-0.447-1-1-1H15c-0.553,0-1,0.447-1,1S14.447,16,15,16z'%3E%3C/path%3E%3Cpath fill='%23231F20' d='M15,28h34c0.553,0,1-0.447,1-1s-0.447-1-1-1H15c-0.553,0-1,0.447-1,1S14.447,28,15,28z'%3E%3C/path%3E%3Cpath fill='%23231F20' d='M15,34h34c0.553,0,1-0.447,1-1s-0.447-1-1-1H15c-0.553,0-1,0.447-1,1S14.447,34,15,34z'%3E%3C/path%3E%3Cpath fill='%23231F20' d='M15,22h34c0.553,0,1-0.447,1-1s-0.447-1-1-1H15c-0.553,0-1,0.447-1,1S14.447,22,15,22z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    /* pode adicionar o svg via repo ou através de transformação SVG > CSS */
    background-repeat: no-repeat;
    background-position: right 11px top 50%;
    /* /\ 50% para ficar no meio e os pixels de distância desse ponto de referência */
    background-size: 30px;
}

.input-wrapper2 {  
    display: flex;
    flex-direction: column;  
}

.input-wrapper2 label {
    margin: 5px 0 5px 0;
}

.input-wrapper2 input {
    padding: 15px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #d1d1d1;
}

.input-wrapper2 input:focus {
    background-color: #e6f0f3;
}

.col2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around
    ;
    gap: 10px;
}

.input-wrapper2:nth-child(1) {
    width: 550px;
}

.input-wrapper2:nth-child(2) {
    width: 50px;
}

.input-wrapper2:nth-child(3) {
    width: 50px;
}

/* Ordem boa para wrappers: 

    >fieldset>
        legend
            <div class="fieldset-wrapper"> (ou qualquer outro pra resolver questões de posição)
                <div class="input-wrapper">
                    <label>
                    <input>
                </div>
            </div>
    </fieldset>

*/