@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E5E5E5;
}

body::before {
    content: '';
    width: 100%;
    height: 368px;
    background: #121214;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.page {
    width: 736px;
    margin: 0 auto;
}

header {
    width: 319px;
    margin-top: 74px;
}

header h1 {
    font-size: 36px;
    line-height: 42px;
    color: white;
    margin-bottom: 24px;
}

header p {
    font-size: 16px;
    line-height: 26px;

    color: #42D3FF;
}

form {
    background-color: #FAFAFC;

    margin-top: 38px;
    min-height: 300px;
    border-radius: 8px;
    padding: 64px;
}

fieldset {
    border: none;
}

fieldset legend {
    font-size: 24px;
    line-height: 34px;

    border-bottom: 1px solid #E6E6F0;
    width: 100%;

    padding: 16px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper label {
    font-size: 14px;
    line-height: 24px;

    color: #4E4958;
}

.input-wrapper label span {
    margin-left: 12px;

    font-size: 12px;
    line-height: 20px;
    color: #C1BCCC;
}

.input-wrapper input {
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    box-sizing: border-box;

    padding: 0 24px;

    font-size: 16px;
    line-height: 26px;
    color: #C1BCCC;
    height: 56px;
}