@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fonte-1: 'Epilogue', sans-serif;
    --fonte-2: Arial, Helvetica, sans-serif;

    --hue: 222;
    --bg-primary: hsl(var(--hue), 22%, 20%);
    --fc-primary: hsl(var(--hue), 0%, 100%);
    --fc-secondary: #hsl(var(hue), 50%, 80%);

    font-size: 62.5%;
    --fs-body: 1.6rem;
    --fs-heading: clamp(4rem, 1rem + 5vw, 5.6rem);
    --fs-heading-sm: clamp(3rem, 1rem + 2vw, 4rem);
}

/* font-family: 'Epilogue', sans-serif; */
body { 
    font-family: var(--fonte-1);
    background-color: var(--bg-primary);
    color: var(--fc-primary);
}

main {
    display: grid;
    gap: 3.2rem;
}

.page {
    max-width: clamp(33rem, 20rem + 70vw, 117rem); /* importantíssimo para evitar media queries desnecessários */
    margin: 0 auto;
    padding: 20px;
}

img {
    width: 100%; /* 100% dentro da .page, que é seu pai */
    height: auto; /* Não é necessário */
    
}

.card {
    position: relative; /* essencial pra posicionar com sobreposição */ 
    /* Se os 2 elementos fossem separados, position também resolveria */
}

.card img {
    height: 41.6rem;
    border-radius: 1rem;
    object-fit: cover; /* Importante pra ajustar caixa ao conteúdo */

    /* transition-property: transform;
    transition-duration: 200ms;
    transition-delay: 1s; 
    transition-time-function: ease */

    /* o controle perfeito de animação acontece na forma basal */

    transition: all .5s;

    filter: brightness(0.5);
}

.card img:hover {
    transform: scale(1.1);
    opacity: 1; /* lindo */
    filter: brightness(1);
}

.card h2 {
    position: absolute; /* essencial pra posicionar com sobreposição */
    left: 2.5rem;
    bottom: 2.8rem;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    font-size: var(--fs-heading-sm);

    /* display: grid;
    gap: 1.5rem; */
}

.card span {
    background-color: white;
    color: black;
    border-radius: 1.6rem;
    padding: 1rem;
    font-size: var(--fs-body);
    width: fit-content;
}

header {
    margin: 10rem 0 8rem;
    font-family: var(--fonte-2);
    text-align: center;
}

header p {
    color: var(--fc-secondary);
    text-transform: uppercase;

    line-height: 3.2rem;
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 1.7rem;
}

header h1 {
    font-size: var(--fs-heading);
    line-height: 4.8rem;
    font-weight: 800;
}

header {
    animation-name: topdown;
    animation-duration: 1s;
    /* animation-fill-mode: forwards; acabar em 100%
    animation-direction: normal; do 100 ao 0%
    animation-delay: 200ms; tempo pra iniciar
    animation-timing-function: ease; controla a aceleração
    animation-iteration-count: infinite; autoexplicativo
    animation-play-state: paused; */
}

main {
    /* animation: downtop .7s .2s reverse backwards; */ 
    animation: downtop .7s .4s backwards;
}

@keyframes topdown {
    0% {
        opacity: 0;
        transform: translateY(-35px);
    }
/* 
    50% {

    } */

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* header:hover {
    animation-play-state: running;
} */

@keyframes downtop {
    0% {
        opacity: 0;
        transform: translateX(15px) translateY(15px);
    }

    100% {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}