@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

:root {
    --mulish: 'Mulish', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
}

html {
    margin: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

body {
    background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
    min-height: 100vh;
    font-family: var(--open-sans);
}

.page {
    width: 1000px;
    margin: 0 auto;
    padding-top: 65px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
    font-family: var(--mulish);
}

ul li a {
    text-decoration: none;
    color: #1F1534;
    opacity: 0.5
}

ul li a:hover {
    font-weight: bold;
    opacity: 1
}

h1 {
    font-family: var(--mulish);
    font-weight: normal;
    font-size: 49px;
    line-height: 56px;
}

#especial {
    color: #89C5CC;
    font-weight: bold;
}

p {
    font-family: var(--open-sans);
    font-size: 14px;
    line-height: 28px;
    color: #7D7987;
    margin: 40px 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 48px;
    align-items: center;
    margin: 0;
    padding: 0;
}

button {
    font-family: var(--open-sans);
    text-transform: uppercase;
    color: white;
    background-color: #69B99D;
    border-radius: 4px;
    border: 0 ;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 32px 15px;
    cursor: pointer;
    gap: 10px;
}

button:hover {
    background-color: #57a58a;
}

main {
    display: flex;
    justify-content: space-between;
}

footer {
    text-align: center;
    margin-top: 80px;
    font-size: 14px;
    line-height: 28px;
}

footer a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-family: var(--open-sans);
}

#balls {
    position: fixed;
    bottom: 0;
    right: 0;
}