@media screen and (max-width: 767px) {
    div.container {
        display: flex;
        flex-direction: column;
    }
    
    div.area1 {
        display: none;
    }

    div.area2 {
        height: 5rem;
    }

    div.area2 div.bloco-menu>.wrapper {
        height: 5rem;
    }

    div.area2 div.bloco-menu>.wrapper span#menu {
        font-size: 2.8rem;
    }


    div.area2 div#logo img {
        width: 5.1rem;
    }

    div.area2 div.bloco-busca {
        padding-bottom: 0;
    }

    div.area2 div.bloco-busca > label {
        padding: 0;
        background-color: #C4170C;
    }

    div.area2 div.bloco-busca > label span {
        font-size: 2.5rem;
        padding-top: 0;
    }

    div.area2 div.bloco-busca input#buscar {
        background-color: #a70e03;
        padding: 1rem 1rem .7rem 0;
        border-radius: 0 5px 5px 0;
        width: 13.5rem;
        border: none;
        font-size: 1.5rem;
        color: white;
        font-weight: bold;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

@media screen and (min-width: 540px) and (max-width: 960px) {
    
    div.container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    section#sec1 {
        display: flex;
        flex-direction: column;
        margin-top: 4.1rem;
        outline: 1px solid rgb(221, 221, 221);
        height: 45.8rem;
        width: 100%;
        margin: 4.1rem auto auto auto;
    }

    section#sec1 img {
        display: none;
    }

    section#sec1 p {
        display: none;
    }

    section#sec2, section#sec3, section.video-content {
        display: none;
    }

    section#sec1 h2 {
        margin-top: 13rem;
        font-size: 4rem;
        line-height: 3.5rem;
        max-width: 85rem;
    }

    div.viu-isso {
        margin-top: 1.7rem;
    }

    div.viu-isso h1 {
        padding-top: 1.5rem;
    }

    div.favoritos, div.mais-lidas, div.deu-falar {
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.103);
    }

    main {
        display: flex;
        flex-direction: column;
    }

    main, div.favoritos, div.ouca-g1, div.mais-lidas, div.deu-falar, div.viu-isso {
        grid-column: 1 / 3;
    }

    main div.main-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    main img {
        aspect-ratio: 1.8;
    }

    main div.main-wrapper picture {
        grid-column: 1 / 10;
    }

    main div.main-wrapper div.main-info-wrapper {
        grid-column: 10 / 22;
    }

    /* main div.fieldset-main-wrapper {
        display: flex;
        flex-direction: row;
    } */

    main div.fieldset-main-wrapper {
        background-color: transparent;
        box-shadow: none;
    }

    main div.fieldset-main-wrapper div.main-bar {
        display: block;
        height: 1px;
        margin: 1rem 0;
        background-color: #0000003d;
    }

    main div.main-wrapper {
        flex-direction: row;
    }

    main div.fieldset-main-wrapper > p {
        display: none;
    }

    main div.main-info-wrapper {
        margin-left: -.7rem;
    }

    main div.main-info-wrapper > p {
        display: block;
        margin: 1rem 0 1rem 2.5rem;
        font-family: "Open Sans", sans-serif;
        font-size: 1.2rem;
        color: rgb(78, 78, 78);
    }

}

@media screen and (min-width: 640px) and (max-width: 960px) {
    main img {
        aspect-ratio: 1.8;
        margin-left: 1.2rem;
        border-radius: 1rem;
    }

    main div.main-info-wrapper {
        margin-left: .5rem;
    }
}

/* @media screen and (min-width: 768px) and(max-width: 1064px) {
    div.area2 div.bloco-busca input#buscar {
        display: none;
        background-color: #04a504;
    }
} */

@media screen and (min-width: 768px) {
    div.area1 {
        display: flex;
        height: 4.4rem;
        justify-content: space-between;
        align-items: center;
    }
    
    div.area1 div.links {
        font-size: 1.6rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    div.links ol {
        list-style-type: none;
        display: flex;
        align-items: center;
    }
    
    div.links ol li {
        font-weight: bold;
        padding: 1rem 0;
        margin-bottom: 0.5rem;
    }
    
    div.links ol li a {
        text-decoration: none;
        padding: 0 .7rem;
        display: inline-flex;
    }
    
    div.links ol li div.separator {
        display: inline-block;
        height: 1rem;
        width: 1px;
        top: 5px;
        position: relative;
        border-left: 1px solid rgba(0, 0, 0, 0.158);
    }
    
    div.links ol li:first-child {
        border-top: 2px solid #ffffff;
    }
    
    div.links ol li a.show {
        color: #035ce0;
    }
    
    div.links ol li a.show:hover {
        color: #478ffa;
    }
    
    div.links ol li:nth-child(2) {
        border-top: 2px solid #ffffff;
    }
    
    div.links ol li:nth-child(2) a {
        color: #c51212;
    }
    
    div.links ol li:nth-child(2):hover{
        border-top-color: #c51212;
    }
    
    div.links ol li:nth-child(3) {
        border-top: 2px solid #ffffff;
    }
    
    div.links ol li:nth-child(3) a {
        color: #04a504;
    }
    
    div.links ol li:nth-child(3):hover {
        border-top-color: #04a504;
    }
    
    div.links ol li:nth-child(4) {
        border-top: 2px solid #ffffff;
    }
    
    div.links ol li:nth-child(4) a {
        color: #f85d24;
    }
    
    div.links ol li:nth-child(4):hover {
        border-top-color: #f85d24;
    }
    
    div.links ol li:nth-child(5) {
        border-top: 2px solid #ffffff;
    }
    
    div.links ol li:nth-child(5) a {
        color: #ff0000;
    }
    
    div.links ol li:nth-child(5):hover {
        border-top-color: #ff0000;
    }
    
    div.links ol li:nth-child(6) {
        border-top: 2px solid #ffffff;
    }
    
    div.links ol li a.no-show {
        color: #1d3eaa;
    }
    
    div.links ol li:nth-child(6):hover {
        border-top-color: #1d3eaa;
    }
    
    div.area1 div.user {
        padding-right: 1rem;
        display: flex;
        gap: 2.4rem;
        align-items: center;
        text-decoration: none;
    }
    
    div.area1 div.user a {
        text-decoration: none;
    }
    
    
    div.area1 div.user > a, div.area1 div.user div {
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
    }
    
    div.area1 div.user div > a {
        color: #616161;
    }
    
    div.area1 div.user div {
        display: flex;
        align-items: center;
    }
    
    div.area1 div.user a {
        font-size: 1.2rem;
        color: #919191;
    }
    
    div.area1 div.user div > a {
        font-size: 1.2rem;
        font-weight: 400;
        display: flex;
        align-items: center;
    }
    
    /* "element + element" ou "element ~ element" são técnicas importantes para acessar item B através do item A anterior */
    
    div.area1 div.user a:hover {
        color: #035ce0;
    }
    
    div.area1 div.user div img {
        width: 24px;
        margin-right: .9rem;
    }
    
    div.area1 div.user img#setinha {
        font-size: 3.7rem;
        font-weight: 600;
        padding-left: .5rem;
        filter: opacity(.7);
    }
    
    div.area1 div.user div:hover img#setinha {
        filter: invert(28%) sepia(75%) saturate(7500%) hue-rotate(211deg) brightness(96%) contrast(98%);
    }
}

@media screen and (min-width: 960px) and (max-width: 999px) {
    section#sec1 {
        display: flex;
        flex-direction: column;
        margin-top: 4.1rem;
        outline: 1px solid rgb(221, 221, 221);
        height: 45.8rem;
        width: 85rem;
        margin: 4.1rem auto auto auto;
        border-radius: 1rem;
    }

    section#sec1 img {
        display: none;
    }

    section#sec1 p {
        display: none;
    }

    section#sec2, section#sec3, section.video-content {
        display: none;
    }

    section#sec1 h2 {
        margin-top: 13rem;
        font-size: 4rem;
        line-height: 3.5rem;
        max-width: 85rem;
    }

    div.viu-isso h1 {
        padding-top: 1.5rem;
    }
}

@media screen and (min-width: 1000px) /* and (max-width: 1420px) */ {
    body, html {
        overflow: visible;
    }
    
    div.container {
        display: grid;
        margin: auto;
        max-width: 132rem;
        padding: 4rem 5rem;
        width: 100%;
        gap: 1.3rem;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

        /* grid-auto-flow: column; */
        /* background-color: aqua; */
    }

    div.area2 div.bloco-busca {
        flex: 1;
        /* flex-shrink: 1;
        flex-basis: 0;
        flex-grow: 1; */
    
        display: flex;
        justify-content: end;
        padding-bottom: .6rem;
    }
    
    div.area2 div.bloco-busca > input {
        background-color: #a70e03;
        padding: 1rem 1rem .7rem 0;
        border-radius: 0 5px 5px 0;
        width: 13.5rem;
        border: none;
        font-size: 1.5rem;
        color: white;
        font-weight: bold;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    div.area2 div.bloco-busca > input::placeholder {
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        font-weight: bold;
        font-family: sans-serif;
        letter-spacing: 0;
        font-size: 1.4rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    div.area2 div.bloco-busca > input:focus::placeholder { /* primeiro pseudoclasse e depois pseudoelemento */
        color: #99a1a9;
    }
    
    div.area2 div.bloco-busca > input:active, div.area2 div.bloco-busca > input:focus {
        outline: none;
    }

    section {
        border-radius: 1.5rem;
        margin: 0;
        padding: 0;
        outline: 1px solid rgba(0, 0, 0, 0.068);
        
        overflow: hidden;
    }

    section picture {
        padding: 0;
        /* overflow: hidden; */
        border-radius: 1.5rem;
    }

    /* overflow:hidden no pai para não vazar o filho e transition sem pseudoclasse pra ter efeito na volta da animação também.
    Border-radius no pai picture e no filho img pra não vazar a diferença das bordas */

    section picture img {
        border-radius: 1.5rem;
        transition: .7s;
        display: block;
        transform: scale(1.15);
    }

    section:hover picture img {
        transform: scale(1.3);
        pointer-events: all;
    }

    section h1, section h2, section p {
        width: auto;
    }

    section .semi-bar, section .full-bar {
        display: none;
    }

    section > div.resumo {
        width: auto;
    }

    section p, section.normal-content a.extra-normal {
        display: none;
    }

    section#sec1 {
        grid-column: 1 / 6;
        grid-row: 1 / 3;
    }

    section#sec1 h2 {
        margin-top: 15rem;
        font-size: 4.5rem;
        line-height: 4rem;
    }

    section#sec1 picture {
        display: none;
        object-fit: fill;
    }
    
    section#sec2 {
        grid-column: 6 / 11;
        grid-row: 1 / 2;
        aspect-ratio: 17/9
    }

    section#sec2 .resumo {
        display: none;
    }

    section#sec3 {
        grid-column: 6 / 11;
        grid-row: 2 / 3;
        aspect-ratio: 17/9
    }

    section#sec2 > picture > a, section#sec3 > picture > a {
        pointer-events: none;
        text-decoration: none;
    }

    :is(section#sec2, section#sec3) {
        position: relative;
    }

    :is(section#sec2, section#sec3) :is(h1, h2) {
        position: absolute;
    }

    :is(section#sec2, section#sec3) :is(h1, h2, h2 a) {
        color: white;
        z-index: 1;
        text-shadow: 1px 1px 2px black;
        
    }

    :is(section#sec2, section#sec3) :is(h1) {
        font-size: 1.7rem;
    }

    :is(section#sec2, section#sec3) :is(h2) {
        font-size: 3rem;
        bottom: 20px;
        line-height: 3.5rem;
    }

    section.video-content {
        display: none;
    }

    :is(section#sec2, section#sec3) :is(img) {
        filter: opacity(.8) brightness(.5);
    }

    div.viu-isso, div.mais-lidas, div.deu-falar, div.ouca-g1, div.favoritos {
        margin: 0;
        height: fit-content;
        outline: 1px solid rgba(0, 0, 0, 0.068);
    }

    div.viu-isso {
        margin-top: 7rem;
        grid-column: 8 / 11;
        grid-row: 3 / 4;
    }

    div.mais-lidas {
        grid-column: 8 / 11;
        /* grid-row: 4 / 5; */
    }

    div.deu-falar {
        grid-column: 8 / 11;
        /* grid-row: 5 / 6; */
    }

    div.favoritos {
        grid-column: 8 / 11;
        /* grid-row: 6 / 7; */
    }

    div.ouca-g1 {
        grid-column: 8 / 11;
        /* grid-row: 7 / 8; */
    }

    div.blogs-colunas, div.tambem, aside, footer {
        display: none;
    }

    div.viu-isso div.row-news div.row-news-wrapper picture {
        aspect-ratio: 1.8;
    }

    div.viu-isso div.row-news div.row-news-wrapper picture img {
        display: block;
    }

    /* div.mais-lidas {
        margin-top: 7rem;
    } */

    main {
        grid-column: 1 / 8;
        grid-row: 3 / span 20;
        /* background-color: white; */
        font-family: 'Open Sans';
        margin-top: 7rem;
        padding-right: 1rem;
    }

    main div.main-wrapper {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }

    main div.main-wrapper picture img {
        width: 100%;
        border-radius: .8rem;
    }

    main div.main-wrapper h1 {
        color: #181818;
        font-size: 1.8rem;
        font-weight: 500;
        letter-spacing: -1px;
        margin-bottom: 1rem;
        padding: 0;
    }

    main a {
        text-decoration: none;
        color: #C4170C;
    }

    main div.main-wrapper a h2 {
        letter-spacing: -1px;
        font-size: 2.3rem;
        font-weight: 700;
        line-height: 2.7rem;
        text-decoration: none;
        margin-bottom: 1.3rem;
        padding: 0;
    }

    main div.main-wrapper ul {
        display: initial;
    }

    main ul li::marker {
        content: '● ';
        font-size: 1.2rem;
        color: #b4b4b4;
    }

    main ul li {
        margin-left: 1rem;
        margin-bottom: 1rem;
    }

    main ul li a {
        font-size: 1.4rem;
        margin-left: 1rem;
        
    }

    main div.main-info-wrapper > p {
        font-size: 1.2rem;
        font-family: 'Open Sans';
        color: #4e4e4e;
        display: block;
    }

    main div.fieldset-main-wrapper {
        background-color: transparent;
        box-shadow: none;
        margin: 0;
    }

    main div.fieldset-main-wrapper > p {
        display: none;
    }

    main picture {
        padding: 0;
        width: 45rem;
    }

    main img {
        width: 100%;
        
    }

    /* div.main-bar {
        background-color: rgba(0, 0, 0, 0.192);
        height: 1px;
        width: 100%;
        margin: 3rem 0;
    } */

    @media screen and (min-width: 1065px) {
        div.area2 div.bloco-busca > label {
            background-color: #a70e03;
            border-radius: 5px 0 0 5px;
            padding: .5rem .3rem 0 .5rem;
        }
        
        div.area2 div.bloco-menu > .wrapper span#label-menu {
            display: flex;
        }
    }
} 