@media screen and (min-width: 540px) and (max-width: 819px) {

}

@media screen and (max-width: 820px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    div.area1 {
        display: none;
    }

    div.area2 {
        height: 5rem;
    }

    div.area2 div.bloco-menu>.wrapper {
        height: 5rem;
    }

    div.area2 div.bloco-menu>.wrapper span#menu {
        font-size: 2.8rem;
    }

    div.area2 div.bloco-menu>.wrapper #label-menu {
        display: none;
    }

    div.area2 div#logo img {
        width: 5.1rem;
    }

    div.area2 div.bloco-busca {
        padding-bottom: 0;
    }

    div.area2 div.bloco-busca>label {
        padding: 0;
        background-color: #C4170C;
    }

    div.area2 div.bloco-busca>label span {
        font-size: 2.5rem;
        padding-top: 0;
    }

    div.area2 div.bloco-busca>input {
        display: none;
    }
    
}

@media screen and (min-width: 975px) /* and (max-width: 1420px) */ {

    body, html {
        overflow: visible;
        
    }
    
    
    div.container {
        display: grid;
        margin: auto;
        max-width: 132rem;
        padding: 4rem 5rem;
        width: 100%;
        gap: 1.3rem;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

        /* grid-auto-flow: column; */
        /* background-color: aqua; */
    }

    section {
        border-radius: 1.5rem;
        margin: 0;
        padding: 0;
        outline: 1px solid rgba(0, 0, 0, 0.068);
        
        overflow: hidden;
    }

    section picture {
        padding: 0;
        /* overflow: hidden; */
        border-radius: 1.5rem;
    }

    /* overflow:hidden no pai para não vazar o filho e transition sem pseudoclasse pra ter efeito na volta da animação também.
    Border-radius no pai picture e no filho img pra não vazar a diferença das bordas */

    section picture img {
        border-radius: 1.5rem;
        transition: .7s;
        display: block;
        transform: scale(1.15);
    }

    section:hover picture img {
        transform: scale(1.3);
        pointer-events: all;
    }

    section h1, section h2, section p {
        width: auto;
    }

    section .semi-bar, section .full-bar {
        display: none;
    }

    section > div.resumo {
        width: auto;
    }

    section p, section.normal-content a.extra-normal {
        display: none;
    }

    section#sec1 {
        grid-column: 1 / 6;
        grid-row: 1 / 3;
    }

    section#sec1 h2 {
        margin-top: 15rem;
        font-size: 4.5rem;
        line-height: 4rem;
    }

    section#sec1 picture {
        display: none;
        object-fit: fill;
    }

    section#sec2 {
        grid-column: 6 / 11;
        grid-row: 1 / 2;
        aspect-ratio: 17/9
    }

    section#sec2 .resumo {
        display: none;
    }

    section#sec3 {
        grid-column: 6 / 11;
        grid-row: 2 / 3;
        aspect-ratio: 17/9
    }

    section#sec2 > picture > a, section#sec3 > picture > a {
        pointer-events: none;
        text-decoration: none;
    }

    :is(section#sec2, section#sec3) {
        position: relative;
    }

    :is(section#sec2, section#sec3) :is(h1, h2) {
        position: absolute;
    }

    :is(section#sec2, section#sec3) :is(h1, h2, h2 a) {
        color: white;
        z-index: 1;
        text-shadow: 1px 1px 2px black;
        
    }

    :is(section#sec2, section#sec3) :is(h1) {
        font-size: 1.7rem;
    }

    :is(section#sec2, section#sec3) :is(h2) {
        font-size: 3rem;
        bottom: 20px;
        line-height: 3.5rem;
    }

    section.video-content {
        display: none;
    }

    :is(section#sec2, section#sec3) :is(img) {
        filter: opacity(.8) brightness(.5);
    }

    div.viu-isso, div.mais-lidas, div.deu-falar, div.ouca-g1, div.favoritos {
        margin: 0;
        height: fit-content;
        outline: 1px solid rgba(0, 0, 0, 0.068);
    }

    div.viu-isso {
        margin-top: 7rem;
        grid-column: 8 / 11;
        grid-row: 3 / 4;
    }

    div.mais-lidas {
        grid-column: 8 / 11;
        /* grid-row: 4 / 5; */
    }

    div.deu-falar {
        grid-column: 8 / 11;
        /* grid-row: 5 / 6; */
    }

    div.favoritos {
        grid-column: 8 / 11;
        /* grid-row: 6 / 7; */
    }

    div.ouca-g1 {
        grid-column: 8 / 11;
        /* grid-row: 7 / 8; */
    }

    div.blogs-colunas, div.tambem, aside, footer {
        display: none;
    }

    div.viu-isso div.row-news div.row-news-wrapper picture {
        aspect-ratio: 1.8;
    }

    div.viu-isso div.row-news div.row-news-wrapper picture img {
        display: block;
    }

    /* div.mais-lidas {
        margin-top: 7rem;
    } */

    main {
        grid-column: 1 / 8;
        grid-row: 3 / span 20;
        /* background-color: white; */
        font-family: 'Open Sans';
        margin-top: 7rem;
        padding-right: 1rem;
    }

    main div.main-wrapper {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }

    main div.main-wrapper picture img {
        width: 100%;
        border-radius: .8rem;
    }

    main div.main-wrapper h1 {
        color: #181818;
        font-size: 1.8rem;
        font-weight: 500;
        letter-spacing: -1px;
        margin-bottom: 1rem;
        padding: 0;
    }

    main a {
        text-decoration: none;
        color: #C4170C;
    }

    main div.main-wrapper a h2 {
        letter-spacing: -1px;
        font-size: 2.3rem;
        font-weight: 700;
        line-height: 2.7rem;
        text-decoration: none;
        margin-bottom: 1.3rem;
        padding: 0;
    }

    main div.main-wrapper ul {
        display: initial;
    }

    main ul li::marker {
        content: '● ';
        font-size: 1.2rem;
        color: #b4b4b4;
    }

    main ul li {
        margin-left: 1rem;
        margin-bottom: 1rem;
    }

    main ul li a {
        font-size: 1.4rem;
        margin-left: 1rem;
        
    }

    main div.main-info-wrapper > p {
        font-size: 1.2rem;
        font-family: 'Open Sans';
        color: #4e4e4e;
        display: block;
    }

    main div.fieldset-main-wrapper {
        background-color: transparent;
        box-shadow: none;
        margin: 0;
    }

    main div.fieldset-main-wrapper > p {
        display: none;
    }

    main picture {
        padding: 0;
        width: 45rem;
    }

    main img {
        width: 100%;
        
    }

    div.main-bar {
        background-color: rgba(0, 0, 0, 0.192);
        height: 1px;
        width: 100%;
        margin: 3rem 0;
    }

} 