@media screen and (max-width: 890px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    div.area1 {
        display: none;
    }

    div.area2 {
        height: 5rem;
    }

    div.area2 div.bloco-menu>.wrapper {
        height: 5rem;
    }

    div.area2 div.bloco-menu>.wrapper span#menu {
        font-size: 2.8rem;
    }

    div.area2 div.bloco-menu>.wrapper #label-menu {
        display: none;
    }

    div.area2 div#logo img {
        width: 5.1rem;
    }

    div.area2 div.bloco-busca {
        padding-bottom: 0;
    }

    div.area2 div.bloco-busca>label {
        padding: 0;
        background-color: #C4170C;
    }

    div.area2 div.bloco-busca>label span {
        font-size: 2.5rem;
        padding-top: 0;
    }

    div.area2 div.bloco-busca>input {
        display: none;
    }
}

@media screen and (min-width: 890px) /* and (max-width: 1420px) */ {

    body, html {
        overflow: visible;
        
    }

    div.container {
        padding: 4rem 6rem;
        max-width: 1300px;
        margin: auto;
    }
    
    div.sec-test {
        display: grid;
        width: 100%;
        gap: 1.3rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;

        /* grid-auto-flow: column; */
        /* background-color: aqua; */
    }

    section {
        border-radius: 1.5rem;
        margin: 0;
        padding: 0;
        width: fit-content;
    }

    section h1 {
    }

    section picture {
        padding: 0;
        overflow: hidden;
        border-radius: 1.5rem;
    }

    /* overflow:hidden no pai para não vazar o filho e transition sem pseudoclasse pra ter efeito na volta da animação também.
    Border-radius no pai picture e no filho img pra não vazar a diferença das bordas */

    section picture img {
        display: block; 
        border-radius: 1.5rem;
        transition: .7s;
    }

    section picture img:hover {
        transform: scale(1.3);
        
    }

    section h1, section h2, section p {
        width: auto;
    }

    section .semi-bar, section .full-bar {
        display: none;
    }

    section > div.resumo {
        width: auto;
    }

    section p, section.normal-content a.extra-normal {
        display: none;
    }

    section#sec1 {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }

    section#sec1 picture {
        display: none;
        object-fit: fill;
    }

    section#sec2 {
        grid-column: 3 / 5;
        grid-row: 1 / 2;
    }

    section#sec2 .resumo {
        display: none;
    }

    section#sec3 {
        grid-column: 3 / 5;
        grid-row: 2 / 3;
    }

    :is(section#sec2, section#sec3) {
        position: relative;
    }

    :is(section#sec2, section#sec3) :is(h1, h2) {
        position: absolute;
        
    }

    :is(section#sec2, section#sec3) :is(h1, h2, h2 a) {
        color: white;
        z-index: 1;
        text-shadow: 1px 1px 2px black;
        
    }

    :is(section#sec2, section#sec3) :is(h1) {
        font-size: 1.7rem;
    }

    :is(section#sec2, section#sec3) :is(h2) {
        font-size: 3rem;
        bottom: 20px;
        line-height: 3.5rem;
    }

    div.mais-lidas {
    }


    section.video-content {
        display: none;
    }

    :is(section#sec2, section#sec3) :is(img) {
        filter: opacity(.8) brightness(.5);
    }

} 