@media (max-width: 650px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    div.area1 {
        display: none;
    }

    div.area2 {
        height: 5rem;
    }

    div.area2 div.bloco-menu>.wrapper {
        height: 5rem;
    }

    div.area2 div.bloco-menu>.wrapper span#menu {
        font-size: 2.8rem;
    }

    div.area2 div.bloco-menu>.wrapper #label-menu {
        display: none;
    }

    div.area2 div#logo img {
        width: 5.1rem;
    }

    div.area2 div.bloco-busca {
        padding-bottom: 0;
    }

    div.area2 div.bloco-busca>label {
        padding: 0;
        background-color: #C4170C;
    }

    div.area2 div.bloco-busca>label span {
        font-size: 2.5rem;
        padding-top: 0;
    }

    div.area2 div.bloco-busca>input {
        display: none;
    }

    section h1 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        color: #000000;
        padding: 2.2rem 2.5rem .6rem;
        font-size: 1.7rem;
    }

    section h2 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        padding: 0 2.5rem;
        font-size: 2rem;
        line-height: 2.2rem;
        width: 98vw;
        letter-spacing: -1px;
    }

    section h2 a {
        text-decoration: none;
        color: #C4170C;
    }

    section picture {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        padding: 2.3rem 0 1.4rem;
    }

    section picture>a {
        background-color: #C4170C;
    }

    section picture img {
        width: 100%;
        height: 100%;
    }

    section.video-content div.video-wrapper a {
        /* background-color: aqua; */
        height: auto;
    }

    section.video-content div.video-wrapper video {
        width: 100%;
        /* padding: 2.3rem 0 1.4rem; */
        border-radius: 0 10px 10px 0;
        background-color: aqua;
        position: static;
    }

    section.video-content div.video-wrapper {
        /* display: relative; */
        /* background-color: #C4170C; */
        margin: 2.3rem 0 0.7rem;
        position: relative;
    }

    section.video-content div.logo-svg {
        position: absolute;
        width: fit-content;
        /* serve para se adaptar ao tamanho do filho */
        top: 5px;
        right: 10px;
    }

    section div.em-alta {
        font-family: 'Open Sans', sans-serif;
        padding: .5rem .8rem;
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
        background-color: #C4170C;
        position: absolute;
        top: 20px;
        left: 20px;
        animation: circle 2s linear infinite;
    }

    @keyframes circle {
        50% {
            opacity: .3;
        }
    }

    section div.circle-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
        position: absolute;
        bottom: 20px;
        left: 20px;
    }

    section div.circle-wrapper span#seta {
        background-color: white;
        border-radius: 50%;
        padding: 8px;
        font-size: 3.5rem;
        color: #C4170C;
    }

    section div.circle-wrapper span:nth-child(2) {
        color: white;
        font-size: 1.6rem;
        font-weight: 700;
        font-family: 'Open Sans';
    }

    .material-symbols-outlined {
        font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
    }

    section.video-content div.logo-svg svg {
        width: 8rem;
    }

    section.video-content p {
        padding-top: 1rem;
    }

    section>div.resumo {
        font-family: 'Open Sans', sans-serif;
        width: 98vw;
        padding: 1.2rem 2.5rem .5rem;
        font-size: 1.5rem;
    }

    section picture span {
        /* Teste de sobreposição */
        position: absolute;
        left: 2rem;
        bottom: 3rem;
        color: white;
        font-size: clamp(1rem, 1rem + 2vw, 4rem);
        background: rgba(255, 0, 0, 0.452);
        border-radius: .5rem;
        width: clamp(20rem, 10rem + 40vw, 70rem);
        padding: 0 1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        display: none;
    }

    section p {
        font-family: 'Open Sans', sans-serif;
        padding: .3rem 2.5rem 1.6rem;
        font-size: 1.2rem;
        color: #4e4e4e;
    }



}